html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rgba-stylish-strong { /* Added manually because it doesnt exist in mdb5 */
  background-color: rgba(62, 69, 81, 0.7);
  height: 100%;
  width: 100%;
}

.navbar-scrolled {
  background-color: rgba(62, 69, 81, 0.95) !important;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.1);
}

/* For keeping the carousel height consistent */
#carouselTeam .card-body {
    min-height: 280px; 
}

/* Hover zoom for the last travels images*/
#lastTravels .bg-image {
    overflow: hidden;
}

#lastTravels .bg-image img {
    transition: transform 0.5s ease;
}

#lastTravels .bg-image:hover img {
    transform: scale(1.05); /* Zooms in 5% */
}